dash==2.11.1
pandas==2.0
plotly==5.15.0
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FixedLocator, FixedFormatter
import plotly.graph_objects as go
pip install dash pandas
import dash
from dash import Dash, html, dash_table, dcc
from dash.dependencies import Input, Output
