@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
  }



.mainSection{
    background-color: aquamarine;
}

.Dasboard-title{
    background-color: #73C6B6;
     display: block;
    text-align: center;
    font-size: 3.5rem;
}
